<!--<div >-->
<!--  <button type="button" class="btn btn-primary" (click)="openModal(template)">{{'New' | translate}}</button>-->
<!--</div>-->

<ng-template #createQuizModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{'New Quiz' | translate}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="quizForm" (ngSubmit)="saveQuiz()">

      <div class="form-group">
        <label>{{'Quiz Description'| translate}}</label>
        <input type="text" formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': f.description.errors }" />
        <div *ngIf="f.description.errors" class="invalid-feedback">
          <div *ngIf="f.description.errors.required">{{'Description is required'| translate}}</div>
        </div>
      </div>

      <div class="form-group">
        <label>{{'Quiz Name'| translate}}</label>
        <input type="text" formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': f.description.errors }" />
        <div *ngIf="f.description.errors" class="invalid-feedback">
          <div *ngIf="f.description.errors.required">{{'Name is required'| translate}}</div>
        </div>
      </div>



      <div class="modal-footer" >
        <button class="btn btn-light" (click)="closeAndResetModal()">{{ 'Close' | translate }}</button>
        <button class="btn btn-primary" >{{ 'Save' | translate }}</button>
      </div>
    </form>

  </div>
</ng-template>
