<div class="content-wrapper">
  <form [formGroup]="quizForm" (ngSubmit)="saveQuiz()">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label class="badge">Quiz Name *</label>
          <input type="text" formControlName="name" class="form-control"
                 [ngClass]="{'is-invalid': submitted &&f.name.errors}"/>
          <div *ngIf="f.name.errors" class="invalid-feedback">
            <div *ngIf="submitted && f.name.errors.required">{{'Quiz Name is required'| translate}}</div>
            <div *ngIf="submitted && f.name.errors.minLength">{{'Quiz Name should be min 4 char'| translate}}</div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="form-group">
          <label class="badge">Quiz Description</label>
          <textarea placeholder="Ex. It makes me feel..." formControlName="explanation" class="form-control"></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-6">
        <div class="pull-right">
          <button type="submit" class="btn btn-primary">Create Quiz</button>
        </div>
      </div>
    </div>
  </form>
<app-create-multiple-choice-question></app-create-multiple-choice-question>
</div>
