<aside class="sidebar" [ngClass]="{collapseClass: isActive}">
  <nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand m-0 py-2 brand-title" href="#">My Pet Project</a>
    <span></span>
    <a class="navbar-brand py-2 material-icons toggle-sidebar" (click)="toggleSidebar()">menu</a>
  </nav>
  <nav class="navigation">
    <ul>
      <li class="active">
        <a routerLink="/dashboard" routerLinkActive="active">
          <span class="nav-icon material-icons">public</span>Dashboard</a>
      </li>
      <li class="active">
        <a (click)="openModal(createQuiz)">
          <span><span class="nav-icon material-icons">create</span> &nbsp;&nbsp;&nbsp;New Quiz</span>
        </a>
      </li>
      <li class="active">
        <a routerLink="/quiz" routerLinkActive="active">
          <span><span class="nav-icon material-icons">list</span> &nbsp;&nbsp;&nbsp;My Quizzes</span>
        </a>
      </li>
    </ul>
  </nav>
</aside>

<app-quiz #createQuiz></app-quiz>



<!--<li>-->
<!--  <a data-target="#myModal" data-toggle="modal" class="MainNavText" id="MainNavHelp"-->
<!--     href="#myModal">HELP</a>-->
<!--</li>-->
<!--<div >-->
<!--  <button type="button" class="btn btn-primary" (click)="openModal(template)">{{'New' | translate}}</button>-->
<!--</div>-->
